<nav id="side-nav">
  <div id="nav-first-half">
    <section id="home-options">
      <smn-option>
        <div (click)="navigateTo('search')" class="shadow">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </smn-option>

      <smn-option>
        <div class="shadow">
          <i class="fa-solid fa-plus"></i>
        </div>
      </smn-option>
    </section>

    <section id="friends">
      <smn-friend-card></smn-friend-card>

    </section>
  </div>

  <div id="nav-second-half">
    <section id="profile">
      <div class="img-circle shadow">
        <a href="/configurations">
          <img priority class="smn-icon" ngSrc="./assets/images/fantasminha.png" height="127" width="225" alt="SMN logo">
        </a>
      </div>
    </section>
  </div>
</nav>
