<main id="smn-root">

  <nav id="sid-nav">
    <section id="home-options">
      <div>
        cwse
      </div>
      <div>
        ce
      </div>
      <div>
        ce
      </div>
      <div>
        ce
      </div>
    </section>

    <section id="profile">
      <div>

      </div>
    </section>
  </nav>

  <section id="groups">

    <h1>Boa noite, carlinhos</h1>

    <section id="user-groups" class="group-sections">
      <div class="group-section-title">
        <i class="bola-azul"></i>
        <h3>Seus grupos</h3>
      </div>

      <div class="inner-groups">
        <div class="group-card shadow">
          <i class="bola-azul"></i>
          <img class="shadow" ngSrc="assets/images/fantasminha.png" height="127" width="225" alt="">
          <div class="group-card-text">
            <h3>AAAAAAAA</h3>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
          </div>
        </div>

        <div class="group-card shadow">
          <i class="bola-azul"></i>
          <img class="shadow" ngSrc="assets/images/fantasminha.png" height="127" width="225" alt="">
          <div class="group-card-text">
            <h3>AAAAAAAA</h3>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
          </div>
        </div>

        <div class="group-card shadow">
          <i class="bola-azul"></i>
          <img class="shadow" ngSrc="assets/images/fantasminha.png" height="127" width="225" alt="">
          <div class="group-card-text">
            <h3>AAAAAAAA</h3>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
          </div>
        </div>

        <div class="group-card shadow">
          <i class="bola-azul"></i>
          <img class="shadow" ngSrc="assets/images/fantasminha.png" height="127" width="225" alt="">
          <div class="group-card-text">
            <h3>AAAAAAAA</h3>
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
          </div>
        </div>
      </div>


    </section>
  </section>


</main>
