<div id="home">
  <div id="groups" class="window">
    <div id="gradient"></div>

    <div class="home-header">
      <h1>{{greeting}}, {{userAccount.username}}</h1>
      <i class="fa-solid fa-users-rectangle" (click)="openFriendRequestList()"></i>
      <smn-friend-request-list *ngIf="friendRequestListVisibility"></smn-friend-request-list>
    </div>


    <section id="user-groups" class="group-sections">
      <div class="group-section-title">
        <i class="bola-azul"></i>
        <h3>Seus grupos</h3>
      </div>

      <div class="inner-groups">
        @for (co of colors; track co) {
          <smn-card color="{{co}}">
            <i class="bola-azul"></i>
            <img class="shadow" ngSrc="assets/images/fantasminha.png" priority height="127" width="225" alt="">
            <div class="group-card-text">
              <h3>Eita</h3>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
          </smn-card>
        }
      </div>
    </section>
  </div>
</div>

