#group-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $base_background;

  padding: 12px;
  border-radius: 12px;

  z-index: 3;

  h2 {
    margin: 0;
  }
}

.group-inputs {
  display: flex;
  flex-direction: column;

  input {
    height: 40px;
    border-radius: 10px;
    background-color: $group_color_3;
  }

}

#group-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    cursor: pointer;
  }
}
