@import "../abstracts/variables";

.option {
  div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    width: 70px;
    height: 70px;
    background-color: $group_color_3;
  }

  i {
    color: $strokes;
    text-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
    font-size: 40px;
  }
}
