@import "../abstracts/variables";

smn-user-profile-card {
  background-color: $base_background;
  border-radius: 17px;
  position: absolute;
  left: 100px;
  z-index: 2;
}

.user-profile-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;

  max-width: 300px;
}

.user-card-header {
  display: flex;
  align-items: center;
  gap: 15px;

  div {
    display: flex;
    flex-direction: column;
    h3 {
      margin: 0;
    }

    p {
      color: $strokes_less_attention_dark;
    }
  }
}

.tag-user {
  background-color: $contrast_background;
  border-radius: 7px;
  min-height: 25px;
  max-width: 70px;
  text-align: center;
}

.user-card-bio {
  background-color: $contrast_background;
  border-radius: 7px;
  padding: 5px;
}

.friend-accept-deny-wrapper {
  display: flex;
  gap: 7px;
}


.accept-friend-btn, .deny-friend-btn {
  border-radius: 7px;
  padding: 5px 12px 5px 12px;
  color: white;
}

.accept-friend-btn {
  background-color: $group_color_4;
}

.deny-friend-btn {
  background-color: $group_color_1;
}
