<div id="register-steps">
  <p>Create Account</p>
  <div id="step-count">
    <p class="number">1</p>
    <p class="dash">-</p>
    <p class="number filled">2</p>
    <p class="dash">-</p>
    <p class="number">3</p>
  </div>
</div>

<form (ngSubmit)="onSubmit()">
  <div class="register-inputs-wrapper-vertical">
    <p class="p-less-attention-dark">Password:</p>
    <div id="register-password" class="input">
      <img ngSrc="../../../../assets/images/padlock.svg" alt="" height="16" width="14">
      <input [(ngModel)]="formData.password" name="password" type="password" required>
    </div>
    <p class="p-less-attention-dark">Confirm password:</p>
    <div id="register-confirm-password" class="input">
      <img ngSrc="../../../../assets/images/padlock.svg" alt="" height="16" width="14">
      <input [(ngModel)]="formData.confirmPassword" name="confirmPassword" type="password" required>
    </div>
    <div>
      <button type="submit" id="register-next-one" class="shadow">
        Next
        <img ngSrc="../../../../assets/images/box_arrow.svg" height="20" width="20" alt="">
      </button>
    </div>
  </div>
</form>
