<div *ngIf="isVisible" class="user-profile-wrapper">
  <div class="user-card-header">
    <img class="friend-pfp" src="{{profileImage}}" alt="">
    <div class="user-card-names">
      <h3>{{userName}}</h3>
      <p>{{nickName}}</p>
    </div>
  </div>
  <div *ngIf="tag === 'btns'" class="friend-accept-deny-wrapper">
    <button (click)="acceptFriendRequest(id)" class="accept-friend-btn">
      Aceitar
    </button>
    <button (click)="denyFriendRequest(id)" class="deny-friend-btn">
      Recusar
    </button>
  </div>
  <span *ngIf="tag !== 'btns'" class="tag-user">{{tag}}</span>
  <div class="user-card-bio">
    <p>
      {{description}}
    </p>
  </div>
</div>
