@import "../abstracts/variables";

home {
  width: 100%;
}

#home {
  display: flex;
  height: 95%;
}

#groups {
  position: relative;
  width: 100%;

  h1 {
    margin: 0;
  }
}

.home-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    font-size: 25px;
    cursor: pointer;
  }
}

.inner-groups {
  display: flex;
  gap: 7px;
}

.group-section-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-card {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

#gradient {
  position: absolute;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  z-index: -1;
  transition: height 1s;
}
