@import "../abstracts/variables";

#smn-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 15px;
  gap: 15px;

  box-sizing: border-box;
}

#side-nav {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nav-first-half {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#friends {
  max-height: 68vh;
  overflow: scroll;
}

#friends::-webkit-scrollbar{
  display: none;
}

#home-options {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

#groups {
  width: 100%;

  h1 {
    margin: 0;
  }
}

#groups,#side-nav {
  background-color: $contrast_background;
  border-radius: 12px;
  padding: 12px;
}

.inner-groups {
  display: flex;
  gap: 7px;
}

.group-section-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.a:hover .profile-card {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
