body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.window {
  background-color: #343434;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  height: 100%;
}

main {
  min-height: 100vh;
  overflow: clip;
}

.img-circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.shadow {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
}

input, button {
  outline: none;
  border: inherit;
}

p {
  margin: 0;
}

i, p {
  z-index: 2;
}

.friend-pfp {
  height: 70px;
  width: 70px;
  border-radius: 12px;
}

html {
  font-family: "Kanit", monospace;
}

smn-card {
  width: 15%;
}

.card {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 7px;
  padding: 12px;
  border-radius: 10px;
}
.card h3 {
  margin: 0;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
  object-fit: contain;
}

.group-card-text {
  color: #3F3636;
  width: 100%;
  overflow: hidden;
}
.group-card-text h3 {
  color: #000;
}

.bola-azul {
  background-color: #201DA4;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.color-picker h4 {
  margin: 0 0 7px;
}

.color-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.color-box {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}

smn-friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: initial;
}
smn-friend-card .friend-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

smn-friend-request-list {
  position: absolute;
  width: 100px;
  height: 300px;
  background: #000;
  right: 40px;
  top: 25px;
  padding: 15px 5px 15px 5px;
  border-radius: 12px;
}
smn-friend-request-list smn-user-profile-card {
  left: -190px !important;
}

.friend-request-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#group-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 12px;
  border-radius: 12px;
  z-index: 3;
}
#group-modal h2 {
  margin: 0;
}

.group-inputs {
  display: flex;
  flex-direction: column;
}
.group-inputs input {
  height: 40px;
  border-radius: 10px;
  background-color: #ECD06B;
}

#group-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#group-modal-header i {
  cursor: pointer;
}

.option {
  cursor: pointer;
}
.option div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  background-color: #ECD06B;
}
.option i {
  color: #D47363;
  text-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
  font-size: 40px;
}

#side-nav {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #343434;
  border-radius: 12px;
  padding: 12px;
  height: 95%;
}

#nav-first-half {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#friends {
  max-height: 68vh;
  overflow: scroll;
}

#friends::-webkit-scrollbar {
  display: none;
}

#home-options {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

smn-user-profile-card {
  background-color: #000;
  border-radius: 17px;
  position: absolute;
  left: 100px;
  z-index: 2;
}

.user-profile-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  max-width: 300px;
}

.user-card-header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-card-header div {
  display: flex;
  flex-direction: column;
}
.user-card-header div h3 {
  margin: 0;
}
.user-card-header div p {
  color: #C2C2C2;
}

.tag-user {
  background-color: #343434;
  border-radius: 7px;
  min-height: 25px;
  max-width: 70px;
  text-align: center;
}

.user-card-bio {
  background-color: #343434;
  border-radius: 7px;
  padding: 5px;
}

.friend-accept-deny-wrapper {
  display: flex;
  gap: 7px;
}

.accept-friend-btn, .deny-friend-btn {
  border-radius: 7px;
  padding: 5px 12px 5px 12px;
  color: white;
}

.accept-friend-btn {
  background-color: #85A97D;
}

.deny-friend-btn {
  background-color: #C74D5C;
}

home {
  width: 100%;
}

#home {
  display: flex;
  height: 95%;
}

#groups {
  position: relative;
  width: 100%;
}
#groups h1 {
  margin: 0;
}

.home-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-header i {
  font-size: 25px;
  cursor: pointer;
}

.inner-groups {
  display: flex;
  gap: 7px;
}

.group-section-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-card {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

#gradient {
  position: absolute;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  z-index: -1;
  transition: height 1s;
}

#login-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
#login-root i {
  text-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
  color: #000;
}

#login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  border-radius: 24px;
  transform: scale(2);
  background-color: #343434;
}

.smn-icon {
  position: absolute;
  transform: scale(0.5);
  right: -90px;
  top: -35px;
}

#branding {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 32px;
  color: #fff;
}

.p-attention {
  color: #000;
}

.p-less-attention {
  color: #fff;
}

.p-less-attention-dark {
  color: #C2C2C2;
}

#login-inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#login-inputs #login-inputs-wrapper-vertical {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#login-inputs #login-inputs-wrapper-horizontal {
  display: flex;
  gap: 7px;
}
#login-inputs #login-inputs-wrapper-horizontal i {
  cursor: pointer;
}
#login-inputs #login-inputs-wrapper-horizontal :nth-child(2) button {
  background-color: #7F7EDF;
}
#login-inputs div {
  position: relative;
  z-index: 1;
}
#login-inputs i {
  position: absolute;
  left: 12px;
  top: 12px;
}
#login-inputs input {
  border-radius: 10px;
  background-color: #ECD06B;
  width: 220px;
  height: 40px;
  padding: 0 0 0 40px;
}
#login-inputs #login-submit {
  border-radius: 10px;
  background-color: #ECD06B;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#login-inputs #login-submit i {
  position: initial;
}

#login-options {
  display: flex;
  gap: 7px;
}
#login-options .login-option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 12px;
  gap: 7px;
  background-color: #ECD06B;
  width: 91px;
  height: 101px;
}
#login-options .login-option i {
  font-size: 55px;
}

body {
  overflow: hidden;
}

#app-root {
  display: flex;
  padding: 15px;
  gap: 7px;
}

main {
  color: #fff;
}

#register-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#register-wrapper {
  background-color: #343434;
  padding: 20px;
  border-radius: 12px;
  max-width: 280px;
}
#register-wrapper #step-count {
  width: 100%;
  display: flex;
  margin: 5px 0 10px 0;
}
#register-wrapper #step-count .dash {
  transform: scaleX(11) translateX(-2px);
  z-index: 1;
  color: #6C5E5E;
}
#register-wrapper #step-count .dash:hover {
  cursor: default;
}
#register-wrapper #step-count .number {
  margin-right: 50px;
  background-color: #6C5E5E;
  color: #3F3636;
  font-size: 14px;
  border-radius: 100%;
  height: 26px;
  width: 26px;
  text-align: center;
  line-height: 26px;
}
#register-wrapper #step-count .filled {
  background-color: #D47363;
}
#register-wrapper #step-count .number:hover {
  cursor: default;
}
#register-wrapper .register-inputs-wrapper-vertical .input {
  display: flex;
  background-color: #ECD06B;
  padding: 5px;
  border-radius: 10px;
  align-content: center;
  margin-bottom: 10px;
}
#register-wrapper .register-inputs-wrapper-vertical .input input {
  background-color: #ECD06B;
  width: 100%;
}
#register-wrapper .register-inputs-wrapper-vertical button {
  display: flex;
  align-items: center;
  background-color: #ECD06B;
  border-radius: 8px;
  width: 145px;
  height: 30px;
  justify-content: center;
  color: #3F3636;
}
#register-wrapper .register-inputs-wrapper-vertical button img {
  margin-left: 5px;
}
#register-wrapper .register-text-horizontal {
  display: flex;
}
#register-wrapper .register-text-horizontal p {
  margin-right: 90px;
}
#register-wrapper .register-inputs-horizontal {
  display: flex;
}
#register-wrapper .register-inputs-horizontal div {
  margin-right: 10px;
}
#register-wrapper button:hover {
  cursor: pointer;
}

.register-inputs-wrapper-vertical p {
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
