body {
  margin: 0;
  background-color: #000;
}

main {
  min-height: 100vh;
  overflow: clip;
}

.img-circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.shadow {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
}

input, button {
  outline: none;
  border: inherit;
}

p {
  margin: 0;
}

i, p {
  z-index: 2;
}

html {
  font-family: "Kanit", monospace;
}

#smn-root {
  display: flex;
  padding: 15px;
  gap: 15px;
}

#sid-nav {
  width: 10%;
}

#groups {
  width: 90%;
}
#groups h1 {
  margin: 0;
}

#groups, #sid-nav {
  background-color: #343434;
  border-radius: 12px;
  padding: 12px;
}

.inner-groups {
  display: flex;
  gap: 7px;
}

.group-card {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: #7F7EDF;
  width: 15%;
  gap: 7px;
  padding: 12px;
  border-radius: 10px;
}
.group-card h3 {
  margin: 0;
}
.group-card img {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
  object-fit: contain;
}

.group-card-text {
  color: #3F3636;
  width: 100%;
  overflow: hidden;
}
.group-card-text h3 {
  color: #000;
}

.bola-azul {
  background-color: #201DA4;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.group-section-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

#login-root {
  display: flex;
  align-items: center;
  transform: scale(2);
  overflow: visible;
}

#login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  border-radius: 24px;
  background-color: #343434;
}

.smn-icon {
  position: absolute;
  transform: scale(0.5);
  right: -90px;
  top: -35px;
}

#branding {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 32px;
  color: #fff;
}

.p-less-attention {
  color: #fff;
}

.p-less-attention-dark {
  color: #C2C2C2;
}

#login-inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#login-inputs #login-inputs-wrapper-vertical {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#login-inputs #login-inputs-wrapper-horizontal {
  display: flex;
  gap: 7px;
}
#login-inputs #login-inputs-wrapper-horizontal i {
  cursor: pointer;
}
#login-inputs #login-inputs-wrapper-horizontal :nth-child(2) button {
  background-color: #7F7EDF;
}
#login-inputs div {
  position: relative;
  z-index: 1;
}
#login-inputs i {
  position: absolute;
  left: 12px;
  top: 12px;
}
#login-inputs input {
  border-radius: 10px;
  background-color: #ECD06B;
  width: 220px;
  height: 40px;
  padding: 0 0 0 40px;
}
#login-inputs #login-submit {
  border-radius: 10px;
  background-color: #ECD06B;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#login-options {
  display: flex;
  gap: 7px;
}
#login-options .login-option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 12px;
  gap: 7px;
  background-color: #C74D5C;
  width: 91px;
  height: 101px;
}
#login-options .login-option i {
  font-size: 55px;
}

#main-root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blobs img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

main {
  color: #fff;
}

#register-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#register-wrapper {
  background-color: #343434;
  padding: 20px;
  border-radius: 12px;
  max-width: 280px;
}
#register-wrapper #step-count {
  width: 100%;
  display: flex;
  margin: 5px 0 10px 0;
}
#register-wrapper #step-count .dash {
  transform: scaleX(11) translateX(-2px);
  z-index: 1;
  color: #6C5E5E;
}
#register-wrapper #step-count .dash:hover {
  cursor: default;
}
#register-wrapper #step-count .number {
  margin-right: 50px;
  background-color: #6C5E5E;
  color: #3F3636;
  font-size: 14px;
  border-radius: 100%;
  height: 26px;
  width: 26px;
  text-align: center;
  line-height: 26px;
}
#register-wrapper #step-count .filled {
  background-color: #D47363;
}
#register-wrapper #step-count .number:hover {
  cursor: default;
}
#register-wrapper .register-inputs-wrapper-vertical .input {
  display: flex;
  background-color: #ECD06B;
  padding: 5px;
  border-radius: 10px;
  align-content: center;
  margin-bottom: 10px;
}
#register-wrapper .register-inputs-wrapper-vertical .input input {
  background-color: #ECD06B;
  width: 100%;
}
#register-wrapper .register-inputs-wrapper-vertical button {
  display: flex;
  align-items: center;
  background-color: #ECD06B;
  border-radius: 8px;
  width: 145px;
  height: 30px;
  justify-content: center;
  color: #3F3636;
}
#register-wrapper .register-inputs-wrapper-vertical button img {
  margin-left: 5px;
}
#register-wrapper .register-text-horizontal {
  display: flex;
}
#register-wrapper .register-text-horizontal p {
  margin-right: 90px;
}
#register-wrapper .register-inputs-horizontal {
  display: flex;
}
#register-wrapper .register-inputs-horizontal div {
  margin-right: 10px;
}
#register-wrapper button:hover {
  cursor: pointer;
}

.register-inputs-wrapper-vertical p {
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
