$base_background: #000;
$base_topography_color: #fff;
$contrast_background: #343434;
$strokes: #D47363;
$strokes_attention: #000;
$strokes_less_attention: #3F3636;
$strokes_less_attention_dark: #C2C2C2;
$group: #201DA4;
$topic: #B62A2A;
$group_color_1: #C74D5C;
$group_color_2: #7F7EDF;
$group_color_3: #ECD06B;
$group_color_4: #85A97D;
$bola_color_1: #201DA4;
