
<div id="configuration">
  <div class="window">
    <div id="configuration-header">
      <h1>Suas configuracoes</h1>

      <div>
        <h2>nickname</h2>
        <p>nome</p>
      </div>
    </div>
    <div [formGroup]="configurationForms" id="configuration-wrapper">
      <div id="left-configuration-side">
        <h3>Editar perfil</h3>



        <div>
          <label>Nickname</label>
          <input formControlName="nickname">
        </div>



      </div>
      <div id="right-configuration-side">



        <div>
          <input id="fileInput" type="file" (change)="onFileChange($event)" accept="image/*"/>
          <button (click)="triggerFileInput()">Select Image</button>
          <img *ngIf="imageSrc" [src]="imageSrc" alt="Selected Image" width="200" />
        </div>



      </div>
    </div>

    <button (click)="onSubmit()">Salvar</button>
  </div>
</div>
