@import "../abstracts/variables";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $base_background;
}

.window {
  background-color: $contrast_background;
  border-radius: 12px;
  padding: 12px;
  width: 100%;
  height: 100%;
}

main {
  min-height: 100vh;
  overflow: clip;
}

.img-circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.shadow {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
}

input, button {
  outline: none;
  border: inherit;
}

p {
  margin: 0;
}

i, p{
  z-index: 2;
}

.friend-pfp {
  height: 70px;
  width: 70px;
  border-radius: 12px;
}
